<section id="the-scam" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2>How do scams work on ArtFire.com?</h2>
            </div>

            <p>It's extremely easy for scammers to operate with impunity on ArtFire.com.</p>

            <p>ArtFire considers itself to have no liability about the sellers that sell on their website. There is nothing preventing scammers from taking your money and then disappearing. <span class="text-danger"><strong>You will have no recourse to get your money back.</strong></span></p>

            <p>
                Here's how easy it is to be a scammer on ArtFire.com:

                <ol style="font-size: 20px">
                    <li>Sign up as a seller on ArtFire.com.</li>
                    <li>Create a listing for a product. Any product works, ArtFire doesn't verify what it is. Maybe set the price as something 40-50% off the normal retail price.</li>
                    <li>Set your page to process payments with Stripe, not PayPal.</li>
                    <li>Wait for your victim to make a purchase.</li>
                    <li>Take their money and close your bank account.</li>
                    <li>Profit.</li>
                </ol>
            </p>

            <blockquote>I can always request a refund with ArtFire, right?</blockquote>

            <p>Nope! ArtFire won't do anything except tell you to open a dispute with your bank. They believe that they don't have any responsibility to deal or prevent fraud from occurring on their website.

            <blockquote>Okay I can open a dispute with Stripe then.</blockquote>

            <p>Negative, Stripe is just the payment processor. You, as the buyer, can't do anything with them. You'd have to take up the issue with you bank.</p>

            <blockquote>Well then I can always ask my bank for a chargeback.</blockquote>

            <p>That's correct, and it's the only action you can take that <strong>might</strong> get your money back. However, this process takes weeks, involves time spent on the phone with your bank or mailing forms to them to file the chargeback. Meanwhile, the scammer has closed their bank accounts and your money is long gone. Your bank won't be able to reverse the charge even if they want to.</p>

            <p>Here's the best part: ArtFire gets a commission for sales conducted on it's platform. So now only will you get scammed, <span class="text-danger">ArtFire makes a profit from that fraudulent transaction AND refuses to do anything about it.</span></p>

            <p>What a wonderful business ArtFire operates.</p>

            <hr>

            <div class="text-center">
                <p>
                    <h2>The bottom line: Do not buying anything ArtFire.com for any reason.</h2>
                    <h4>You may be scammed buying anything from their platform and have no recourse available to you.</h4>
                </p>
            </div>
        </div>
    </div>
</section>
